<div class="readonly-data">
  <div class="page-header">
    <h1><%= t('view.dashboard.greetings.html', user: current_user.name, organization: current_organization.name) %></h1>
  </div>
  <div class="row-fluid">
    <h4>
      <%= link_to_if(can?(:read, Document), t('view.dashboard.show_documents'), documents_path) %>
    </h4>
  </div>
</div>

<div class="form-actions"></div>
