<% @organizations.each_slice(2) do |organizations| %>
  <div class="row">
    <% organizations.each do |organization| %>
      <div class="col-md-6">
        <div class="well">
          <h3>
            <%= link_to(organization,
              dashboard_url(subdomain: organization.identification)
            ) %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
