<div id="time_left" class="alert alert-error fade in" data-dismiss="alert" style="display: none;">
  <a class="close">&times;</a>
  <h3 class="alert-heading"></h3>
</div>
<script type="text/javascript">
  State.showMessages.push({
    time: <%= Devise.timeout_in - 2.minutes %>,
    message: '<%= t('messages.session.expires_in_less_than_two_minutes') %>',
    expired: false
  });

  State.showMessages.push({
    time: <%= Devise.timeout_in %>,
    message: '<%= t('messages.session.time_expired') %>',
    expired: true
  });
</script>