<div id="time_left" class="alert alert-error" style="display: none;">
  <span class="message"></span>
</div>
<script type="text/javascript">
  State.showMessages[0] = {
    time: <%= Devise.timeout_in - 2.minutes %>,
    message: '<%= t('messages.session.expires_in_less_than_two_minutes') %>',
    expired: false
  };

  State.showMessages[1] = {
    time: <%= Devise.timeout_in %>,
    message: '<%= t('messages.session.time_expired') %>',
    expired: true
  };
</script>