<div class="row hidden-xs">
  <div class="col-md-2">
    <h5><%= Change.human_attribute_name 'made_at' %></h5>
  </div>
  <div class="col-md-10">
    <h5><%= Change.human_attribute_name 'content' %></h5>
  </div>
</div>

<% changes.each do |change| %>
  <div class="row change">
    <div class="col-md-2"><%= l change.made_at %></div>
    <div class="col-md-10"><%= simple_format change.content %></div>
  </div>
<% end %>
