<div class="row change">
  <div class="col-md-2">
    <%= f.input :made_at, as: :date_picker, label: false %>
  </div>
  <div class="col-md-10">
    <%= f.input :content, label: false, input_html: {
      placeholder: Change.human_attribute_name('content'), rows: 3, cols: 30
    } %>
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
  </div>
</div>
