<div class="row-fluid comment">
  <div class="span2">
    <p>
      <strong><%= User.find(f.object.originator || current_user.id) %></strong>
    </p>
  </div>
  <div class="span10">
    <%= f.input :content, label: false, input_html: {
      placeholder: Comment.human_attribute_name('content'), rows: 3, cols: 30
    } %>
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
  </div>
</div>