<% launchpad_controller = controller_name == 'launchpad' %>
<li class="dropdown<%= ' active' if launchpad_controller %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= current_organization || t('menu.admin') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <% if current_user.is?(:admin) && current_organization %>
      <li><%= link_to t('menu.admin'), root_url(subdomain: 'www') %></li>
    <% end %>
    <% organizations = current_user.organizations.to_a - [current_organization] %>
    <% organizations.each do |organization| %>
      <li>
        <%= link_to organization, dashboard_url(subdomain: organization.identification) %>
      </li>
    <% end %>
  </ul>
</li>
