footer.alert {
  position: fixed;
  bottom: 0em;
  left: 4em;
  right: 4em;
}

form {
  .alert {
    margin: 0px 20px 1em 20px;
  }
}

#time_left {
  position: fixed;
  top: 40px;
  bottom: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;

  a { margin-left: 20px; }
}

.ui-autocomplete {
  small {
    display: block;
    font-size: .75em;
    color: #999999;
  }
}

.nowrap {
  white-space: nowrap;
}

.ui-datepicker-trigger {
  display: none;
}
