#document-tabs {
  .page-header {
    margin-top: 0;
  }

  #document_edit {
    iframe {
      width: 100%;
      height: 600px;
      border: none;
    }
  }

  #document_data {
    padding-top: 20px;
  }

  .tab-content {
    overflow: visible;
  }
}
